[Unit]
Description=Erigon - Ethereum EL and CL Node
Documentation=https://docs.erigon.tech
After=network.target

[Service]
User={{ erigon_user }}
Group={{ erigon_group }}
ExecStart={{ erigon_binary_path }} --config {{ erigon_dir_config }}/config.yml


{% for directive in erigon_extra_systemd_directives | default([]) %}
{{ directive }}
{% endfor %}

[Install]
WantedBy=multi-user.target
